Click <a href='https://www.dataquest.io/blog/web-scraping-tutorial-python/'>here</a> to learn about Regular Expressions (RegEx) using Python.

In [ ]:
########################
# DO NOT RUN THIS CELL #
########################

a, X, 9, < -- ordinary characters just match themselves exactly.
. (a period) -- matches any single character except newline '\n'
\w -- matches a "word" character: a letter or digit or underbar [a-zA-Z0-9_].
\W -- matches any non-word character.
\b -- matches word boundary (in between a word character and a non word character)
\s -- matches a single whitespace character -- space, newline, return, tab
\S -- matches any non-whitespace character.
\t, \n, \r -- tab, newline, return
\d -- matches any numeric digit [0-9]
\D matches any non-numeric character.
^ -- matches the beginning of the string, or specify omition of certain characters
$ -- matches the end of the string
\ -- escapes special character.
(x|y|z) matches exactly one of x, y or z.
(x) in general is a remembered group. We can get the value of what matched by using the groups() method of the object returned by re.search.
x? matches an optional x character (in other words, it matches an x zero or one times).
x* matches x zero or more times.
x+ matches x one or more times.
x{m,n} matches an x character at least m times, but not more than n times.
?: matches an expression but do not capture it. Non capturing group.
?= matches a suffix but exclude it from capture. Positive lookahead.
a(?=b) will match the "a" in "ab", but not the "a" in "ac"
In other words, a(?=b) matches the "a" which is followed by the string 'b', without consuming what follows the a.
?! matches if suffix is absent. Negative look ahead.
a(?!b) will match the "a" in "ac", but not the "a" in "ab"
?<= positive look behind
[] matches for groupings of consecutive characters
?<! negative look behind

########################
# DO NOT RUN THIS CELL #
########################

In [14]:
import re

file = open("names.txt", encoding= 'utf-8')
data= file.read()
file.read()

''

In [55]:
# .match() - Checks for specific strings starting from the beginning of a string
re.match(r'Hawking',data)

In [56]:
# re.match(r"Milliken", data)
re.match(r'Patel', data)

In [57]:
# .search() - Looks for FIRST matching string anywhere in the searchable text string
re.search(r"Milliken", data)

In [24]:
re.search(r"\(\d\d\d\) \d\d\d-\d\d\d\d", data)

In [22]:
re.search(r'\w\w', data)

In [23]:
re.search('\w\w\w\w\w\w\w, \w\w\w\w\w', data)

In [25]:
re.search(r"\d"*4, data)

<strong>Exercise 1</strong>:<br>
Write a function that checks for n number of consecutive digits

In [27]:
def find_digits(n, searchable_text):
    return re.search(r'\d'*n, searchable_text)

find_digits(19,data)

In [5]:
# find(4, data) => <re.Match object; span=(XX, XX), match='5555'>

In [29]:
re.search(r'\(\d{3}\) \d{3}-\d{4}', data)

In [31]:
# .findall() - Looks for matching string anywhere in the searchable text string and stores each instance into a list
re.findall(r'\(?\d{3}\)?\s?-?\d{3}-\d{4}', data)

['(555) 555-5555',
 '(555) 555-5554',
 '(555) 555-5543',
 '555-555-5552',
 '555 555-5551',
 '(555) 555-5553',
 '(555) 555-4444']

In [ ]:
re

In [33]:
re.findall(r'\w+, \w+', data)

['Hawkins, Derek',
 'Teacher, Coding',
 'Milliken, Connor',
 'Teacher, Coding',
 'Johnson, Joe',
 'Carter, Joel',
 'Österberg, Sven',
 'Governor, Norrbotten',
 'Enchanter, Killer',
 'Butz, Ryan',
 'CEO, Coding',
 'Doctor, The',
 'Lord, Gallifrey',
 'Exampleson, Example',
 'Example, Example',
 'Obama, Barack',
 'President, United',
 'Patel, Ripal',
 'Teacher, Coding',
 'Vader, Darth',
 'Lord, Galactic',
 'Sanz, María',
 'Minister, Spanish']

In [34]:
re.findall(r'[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+', data)

['derek@codingtemple.com',
 'connor@codingtemple.com',
 'joejohnson@codingtemple.com',
 'governor@norrbotten.co.se',
 'tim@killerrabbit.com',
 'ryanb@codingtemple.com',
 'doctor+companion@tardis.co.uk',
 'me@example.com',
 'president.44@us.gov',
 'ripalp@codingtemple.com',
 'darth-vader@empire.gov',
 'mtfvs@spain.gov']

In [36]:
re.findall(r'[-+\w\d]+@[-.\w\d]+', data)

['derek@codingtemple.com',
 'connor@codingtemple.com',
 'joejohnson@codingtemple.com',
 'governor@norrbotten.co.se',
 'tim@killerrabbit.com',
 'ryanb@codingtemple.com',
 'doctor+companion@tardis.co.uk',
 'me@example.com',
 '44@us.gov',
 'ripalp@codingtemple.com',
 'darth-vader@empire.gov',
 'mtfvs@spain.gov']

In [37]:
re.findall(r'[-+.\w\d]+@[codingtemple]+.com', data)

['derek@codingtemple.com',
 'connor@codingtemple.com',
 'joejohnson@codingtemple.com',
 'ryanb@codingtemple.com',
 'ripalp@codingtemple.com']

In [39]:
# re.VERBOSE/re.X - Allows multiline regular expressions
# re.IGNORECASE/re.I - Ignores casing
re.findall(r"""
   \b@[-.\w\d]*     # word boundary, @ symbol and any number of characters
    [^gov\t]+       # exclude all instances of 'gov' or tap
    \b              #word boundaries
""", data, re.X|re.I)

['@codingtemple.com',
 '@codingtemple.com',
 '@codingtemple.com',
 '@norrbotten.co.se',
 '@killerrabbit.com',
 '@codingtemple.com',
 '@tardis.co.uk',
 '@example.com',
 '@us.',
 '@codingtemple.com',
 '@empire.',
 '@spain.']

In [41]:
 re.findall(r'''
 \b[-\w]+,    #last name
 \s           #one whitespace character
 [-\w ]+      # 1 or more hyphens/word characters, spaces
 [^\t\n]      # omit tabs and newline character
 ''', data, re.X|re.I)

['Hawkins, Derek',
 'Teacher, Coding Temple',
 'Milliken, Connor',
 'Teacher, Coding Temple',
 'Johnson, Joe',
 'Carter, Joel',
 'Österberg, Sven-Erik',
 'Governor, Norrbotten',
 'Enchanter, Killer Rabbit Cave',
 'Butz, Ryan',
 'CEO, Coding Temple',
 'Doctor, The',
 'Lord, Gallifrey',
 'Exampleson, Example',
 'Example, Example Co.',
 'Obama, Barack',
 'President, United States of America',
 'Patel, Ripal',
 'Teacher, Coding Temple',
 'Vader, Darth',
 'Lord, Galactic Empire',
 'Sanz, María Teresa',
 'Minister, Spanish Govt.']

In [50]:
info = re.findall(r'''
  ^([-\w]*,\s[-\w ]+)\t               # last name, first name
   ([-\w\d+.]+@[-\w\d+.]+)\t          # email
   (\(?\d{3}\)?-?\s?\d{3}-\d{4})\t    # phone number
   ([\w\s\d]*,\s[\w\d\s,]*)\t         # occupation and company
   (@[\w\d]+)?$                       # Twitter handle

''', data, re.X|re.I|re.M)

info

[('Hawkins, Derek',
  'derek@codingtemple.com',
  '(555) 555-5555',
  'Teacher, Coding Temple',
  '@derekhawkins'),
 ('Butz, Ryan',
  'ryanb@codingtemple.com',
  '(555) 555-5543',
  'CEO, Coding Temple',
  '@ryanbutz'),
 ('Obama, Barack',
  'president.44@us.gov',
  '555 555-5551',
  'President, United States of America',
  '@potus44'),
 ('Patel, Ripal',
  'ripalp@codingtemple.com',
  '(555) 555-5553',
  'Teacher, Coding Temple',
  '@ripalp'),
 ('Vader, Darth',
  'darth-vader@empire.gov',
  '(555) 555-4444',
  'Sith Lord, Galactic Empire',
  '@darthvader')]

In [8]:
# [
#     (First and last name,
#      email, 
#      phone,
#      title,
#      Twitter handle)
# ]

In [58]:
info = re.compile(r'''
     ^(?P<name>[-\w]*,\s[-\w ]+)\t            #last name, first name
    (?P<email>[-\w\d+.]+@[-\w\d+.]+)\t        #email
    (?P<phone>\(?\d{3}\)?-?\s?\d{3}-\d{4})\t  #phone number
    (?P<job>[\w\s\d]*,\s[\w\d\s,]*)\t       #occupation and company
    (?P<twitter>@[\w\d]+)?$  #Twitter handle
''', re.X|re.I|re.M)

In [54]:
for i in info.finditer(data):
    print(f"name: {i.group('name')}\nEmail: {i.group('email')}\nPhone: {i.group('phone')}\nJob: {i.group('job')}\nTwitter: {i.group('twitter')}\n\n")

name: Hawkins, Derek
Email: derek@codingtemple.com
Phone: (555) 555-5555
Job: Teacher, Coding Temple
Twitter: @derekhawkins


name: Butz, Ryan
Email: ryanb@codingtemple.com
Phone: (555) 555-5543
Job: CEO, Coding Temple
Twitter: @ryanbutz


name: Obama, Barack
Email: president.44@us.gov
Phone: 555 555-5551
Job: President, United States of America
Twitter: @potus44


name: Patel, Ripal
Email: ripalp@codingtemple.com
Phone: (555) 555-5553
Job: Teacher, Coding Temple
Twitter: @ripalp


name: Vader, Darth
Email: darth-vader@empire.gov
Phone: (555) 555-4444
Job: Sith Lord, Galactic Empire
Twitter: @darthvader